body {
  background-color: antiquewhite;
}

.jumbotron {
  background-color: transparent;
  border-bottom: solid black;
}
.btn {
  border-radius: 0px;
}

#buttonRow {
  margin-bottom: 1%;
}

#searchRow {
  margin-bottom: 5%;
}